
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


header{
    background-color: white;
}

#logo{
    margin-left:20px
}

#main-title{
    display: inline;
    font-size:40px;
    font-weight:bold;
    position:relative;
    bottom:10px;
}

main{
    background-color: rgb(241, 241, 241);
    height:1000px;
}

.conteiner{
    background-color:white;
    height:1000px;
    width:1000px;
    margin:0 auto;
    padding:10px;
    position:relative;
    top:50px;
    padding-left: 50px;
    padding-right:50px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
}


#button-cornice{
    border:solid rgb(241, 241, 241) 2px;
    border-top:0px;
    border-left:0px;
    border-right:0px;
    height:30px;

}

.button-1{
    background-color: rgb(17, 155, 247);
    color: white;
    border-color:rgb(17, 155, 247);
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    padding-left:5px;
    padding-right:5px;
}

.button-2{
    background-color: white;
    color: rgb(241, 241, 241);
    border-color: rgb(241, 241, 241);
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    padding-left:5px;
    padding-right:5px;
}
    

summary{
    font-size:30px;
    margin-top:25px;
    font-weight:bold;
    
}

p{
    font-size:22px;
    margin-top:20px;
}

span{
    color: green;
    background-color:white;
    border:1px solid green;
    border-radius:50%;
    width:100px;
    height:100px;
}

.x{
    color: red;
    background-color:white;
    border:1px solid red;
    border-radius:50%;
    width:100px;
    height:100px;
}

#Editorial{
    background-color: rgb(17, 155, 247);
    color:white;
    font-size:17px;
    width:100px;
    height:100px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    padding-top:5px;
    padding-left:5px;
    padding-right:5px;
    padding-bottom:5px;
    margin-left:290px;
    position:relative;
    bottom:25px;
}

#Goals{
    background-color: rgb(228, 17, 247);
    color:white;
    font-size:17px;
    width:100px;
    height:100px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    padding-top:5px;
    padding-left:5px;
    padding-right:5px;
    padding-bottom:5px;
    margin-left:270px;
    position:relative;
    bottom:25px;
    border:0px;

}

#Recruiting{
    background-color: rgb(6, 172, 28);
    color:white;
    font-size:17px;
    width:100px;
    height:100px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    padding-top:5px;
    padding-left:5px;
    padding-right:5px;
    padding-bottom:5px;
    margin-left:270px;
    position:relative;
    bottom:25px;
    border:0px;

}

#Mobile{
    background-color: rgb(247, 140, 17);
    color:white;
    font-size:17px;
    width:100px;
    height:100px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    padding-top:5px;
    padding-left:5px;
    padding-right:5px;
    padding-bottom:5px;
    margin-left:420px;
    position:relative;
    bottom:25px;
    border:0px;

}

#Website{
    background-color: rgb(228, 17, 247);
    color:white;
    font-size:17px;
    width:100px;
    height:100px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    padding-top:5px;
    padding-left:5px;
    padding-right:5px;
    padding-bottom:5px;
    margin-left:270px;
    position:relative;
    bottom:25px;
    border:0px;
}
 
#Sales{
    background-color: rgba(17, 247, 132, 0.678);
    color:white;
    font-size:17px;
    width:100px;
    height:100px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    padding-top:5px;
    padding-left:5px;
    padding-right:5px;
    padding-bottom:5px;
    margin-left:420px;
    position:relative;
    bottom:25px;
    border:0px;
}

 